body {
  background-color: #f2fff9;
}
.quotes{
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}
#splash-col {
  padding: 0 0 0 0;
}
.para-content{
  margin: 0 auto;
  width: 100%;
}
.splashText {
  margin-top: 1rem;
}
#slide0, #slide1, #slide2, #slide3 {
  width: 100%;
}

#slide0 {
  background-color: #ffffff;
  height: 100vh;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}
#slide1 {
  background:url('assets/images/Baseball.png') 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}
#slide2 {
  background:url('assets/images/Soccer2.png') 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}
#slide3 {
  background:url('assets/images/Boxing2.png') 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}
#slide4 {
  height: 300px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
}
.spacer {
  height: 100px;
  width: 100%;
  background-color: #27e863;
  text-align: center;
}
.spacer div h2 {
  margin-top: 0;
}
.loginNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.mainGreen {
  background-color: #00C853;
}

.topG4G {
  margin-left: 10%;
}

.postCard {
  background-color: #EEEEEE;
}

.postAuthor {
  padding-left: 2rem;
}
.postContent {
  padding-left: 1rem;
}
.postComment {
  margin: 0;
}

.postTime {
  margin-bottom: 2rem;
}

.userProfileName {
  font-weight: bold;
  margin-bottom: 0;
}

.profilePicture {
  max-height: 500px;
}

.profileData {
  margin-bottom: 0;
  margin-top: 0;
}

.profileWorkoutButton {
  width: 100%;
  background-color: #00C853;
}
.profileProgressButton {
  width: 100%;
  background-color: #34bfeb;
}

.likeCommentButton {
  background-color: #00C853;
}
.likeCommentButton:hover {
  background-color: #9bfc9c;
}
.post-bottom {
  margin-bottom: 0;
}

.loginButton {
  background-color: #34bfeb;
  margin-top: 2rem;
  width: 9rem;
}
.loginButton:hover {
  background-color: #63cff1;
}
.registerButton {
  background-color: #5be75d;
  margin-top: 2rem;
  width: 9rem;
}
div .registerButton {
  margin-left: 3rem;
}
.registerButton:hover {
  background-color: #9bfc9c;
}

.cancelButton {
  background-color: #e94646;
}
.cancelButton:hover {
  background-color: #fa8989;
}

/*Changing the highlight color of text inputs*/
.input-field input[type=text]:focus + label {
  color: #00C853;
  /*box-shadow: 0 1px 0 0 black;*/
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #00C853;
  box-shadow: 0 1px 0 0 #00C853;
}
.input-field input[type=password]:focus + label {
  color: #00C853;
  /*box-shadow: 0 1px 0 0 black;*/
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #00C853;
  box-shadow: 0 1px 0 0 #00C853;
}

/*NAV STUFF*/
.navSettings {
  padding-right: 2rem;
}
#search {
  background-color: #2cda5c;
}
#search:focus {
  background-color: #ffffff;
}

/*SEARCH STUFF*/
.searchCard:hover {
  background-color: #d7d7d7;
}

/*CHART STUFF*/
body {
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}
