.initials {
  max-width: 12rem;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 1rem;
}
.name {
  position: absolute;
  left: 14rem;
  top: 2.15rem;
  max-width: 56rem;
}

body {
  background-color: #E8EDDF;
}
.ELI5 {
  left: 0;
  top: 9rem;
}
.projects {
  left: 0;
  top: 16rem;
}
.resume {
  left: 0;
  top: 23rem;
}
.contact {
  left: 0;
  top: 30rem;
}
.sidebar-tab {
  z-index: 1;
  background-color: #5c180d;
  text-align: center;
  padding-top: 1rem;
  color: #E8EDDF;
  width: 12rem;
  height: 5rem;
  position: fixed;
}
.sidebar-background {
  position: absolute;
  left: 1rem;
  top: 1rem;
  /*bottom: 20rem;*/
  width: 10rem;
  height: 100rem;
  background-color: #F5CB5C;
}

/*Other colors:
Black: 242423
Grey: 333533
Gold: F5CB5C
Off White: E8EDDF
Darker Off White: CFDBD5
*/

.subtitle-main {
  padding: 4rem;
}

.post-title {
  background-color: #333533;
  border-radius: 20px;
  color: #E8EDDF;
}
.post {
  margin-top: 1rem;
  background-color: #CFDBD5;
  border-radius: 20px;
}
.post p {
  margin: 1rem;
}
.expandPost {
  background-color: #333533;
  color: #E8EDDF;
  border-radius: 20px;
  margin-bottom: 2rem;
}

/*Fonts*/
.lato {
  font-family: 'Lato', sans-serif;
}
.quicksand {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
